@import 'tailwindcss';

@theme {
  --color-primary: #00ff41;
  --color-background-light: #f6f6f8;
  --color-background-dark: #0a0a0a;

  --font-display: 'Space Grotesk', monospace;

  --radius: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;

  --animate-blink: blink 1s step-end infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

* {
  font-family: 'Space Grotesk', sans-serif;
}
